<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huawei.hms.feature.dynamic"
    android:versionCode="10023300"
    android:versionName="1.0.23.300" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="33" />

    <queries>
        <package android:name="com.huawei.hff" />
        <package android:name="com.huawei.hms" />
        <package android:name="com.huawei.hwid" />
    </queries>

    <application>
        <meta-data
            android:name="com.huawei.hms.client.service.name:dynamic-api"
            android:value="dynamic-api:1.0.23.300" />
        <meta-data
            android:name="com.huawei.hms.min_api_level:dynamic-api:huawei_module_dynamicloader"
            android:value="9" />
    </application>

</manifest>