<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huawei.hms.scankit" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="33" />

    <application>

        <activity
            android:name="com.huawei.hms.hmsscankit.ScanKitActivity"
            android:launchMode="singleTask" >
        </activity>
    </application>

</manifest>