<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huawei.hms.framework.network.grs"
    android:versionCode="40002300"
    android:versionName="4.0.2.300" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="28" />

</manifest>