<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bytedance.applog.log"
    android:versionCode="1000190"
    android:versionName="1.0.1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="29" />

</manifest>