<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>QsSdkAppId</key>
	<string>1</string>
	<key>QsSdkPackageId</key>
	<string>2</string>
	<key>QsSdkAppSecret</key>
	<string>rwsp9iz5bog7lhw7qlz9riwj7wm40cgk</string>
	<key>QsSdkLandscape</key>
	<true/>
	<key>QsSdkEnv</key>
	<string>0</string>
	<key>QsSdkPromoteId</key>
	<string>1</string>
	<key>QsSdkReleaseMode</key>
	<true/>
	<key>QsSdkUrlType</key>
	<string>0</string>
	<key>QsSdkChannelConfigs</key>
	<dict/>
</dict>
</plist>
