<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huawei.hms.mlkit.common.ha"
    android:versionCode="10003340"
    android:versionName="1.0.3.340" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="29" />

    <application>
        <meta-data
            android:name="com.huawei.hms.client.service.name:ml-computer-ha-inner"
            android:value="ml-computer-ha-inner:1.0.3.340" />
    </application>

</manifest>