<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sunmi.paylib"
    android:versionCode="125"
    android:versionName="1.4.65" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="28" />

</manifest>