<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ysf.ysfso"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="30" />

    <application>
        <service android:name="com.ysf.card.HiCardServer" >
            <intent-filter>
                <action android:name="com.ysf.card.find.START" />
                <action android:name="com.ysf.card.find.CLOSE" />
                <action android:name="com.ysf.card.HEX.READ" />
                <action android:name="com.ysf.card.SAMID.READ" />
                <action android:name="com.ysf.card.PSAM" />
                <action android:name="com.ysf.card.HEX.VERSION" />
            </intent-filter>
        </service>
        <service android:name="com.ysf.card.HiUpdateServer" >
            <intent-filter>
                <action android:name="com.ysf.card.hexVer.update" />
            </intent-filter>
        </service>
    </application>

</manifest>