<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huawei.hms.mlsdk.common"
    android:versionCode="10000301"
    android:versionName="1.0.0.301" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="29" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <meta-data
            android:name="com.huawei.hms.client.service.name:ml-computer-vision-base"
            android:value="ml-computer-vision-base:1.0.0.301" />

        <provider
            android:name="com.huawei.hms.mlsdk.common.Provider.MLInitializerProvider"
            android:authorities="${applicationId}.MLInitializerProvider"
            android:exported="false" />
    </application>

</manifest>