<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.bingoogolapple.qrcode.zbar" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="29" />

    <application>
        <activity android:name="cn.bingoogolapple.qrcode.zbar.ZBarActivity" />
    </application>

</manifest>