<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bytedance.applog.convert"
    android:versionCode="6140390"
    android:versionName="6.14.3" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="29" />

    <application>
        <meta-data
            android:name="hume_convert.appLog.sdkVersion"
            android:value="6.14.3" />
    </application>

</manifest>